@import '../../styles.scss';

.content {
  display: flex;
  flex-direction: column;
}

.duration {
  font-family: 'TATSanaChon';
  margin-top: 1.5rem;
  text-align: center;

  .time {
    color: $red;
    font-size: 48px;
  }
}

.register {
  align-self: center;
  font-family: 'TATSanaChon';
  font-size: 20px;
  max-width: 800px;
  width: 100%;
  background-color: $blue;
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0 15px 30px 0 rgba(28, 78, 132, 0.4);
  margin: 10px 0px;
  padding: 10px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: #FBBC33;
    box-shadow: none;
  }
}

.chimShopChai-description {
  width: 80%;
  margin-top: 1.5rem;
  margin-bottom: 100px;
  font-size: 18px;

  .nowrap {
    white-space: nowrap;
  }

  .detail {
    color: $red;
    font-size: 36px;
    font-family: 'TATSanaChon';
  }

  .condition {
    font-family: 'TATSanaChon';
    margin-top: 2rem;
  }
}

.brand-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 100px;

  .brand-logo {
    width: 100%;
    max-width: 102px;
  }
}

.banner-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 150px;

  .banner-sq {
    width: 100%;
    max-width: 350px;
  }
}
