<div class="container content">
  <div class="duration">
    <div>ตั้งแต่วันที่</div>
    <div class="time" *ngIf="chimShopChai">
      {{ chimShopChai.duration }}
    </div>
  </div>
  <a class="register" href="https://www.xn--b3caa1e2a7e2b0h2be.com/close.html">
    <div>ลงทะเบียน เฟส 2</div>
    <div>ตั้งแต่วันที่ 24 ต.ค. 62 วันละ 2 รอบ เวลา 6.00 และ 18.00 น.</div>
    <div>(จำกัดจำนวนผู้ลงทะเบียนรอบละ 5 แสนคน รวม 1 ล้านคนต่อวัน)</div>
  </a>
  <div class="chimShopChai-description">
    <p class="detail">
      มาตรการส่งเสริมการบริโภค <br class="br" />ในประเทศ <span class="nowrap">“ชิมช้อปใช้”</span>
    </p>
    <div *ngIf="chimShopChai" [innerHTML]="chimShopChai.detail"></div>
    <p class="condition">เงื่อนไขการเข้าร่วมมาตรการ</p>
    <div *ngIf="chimShopChai" [innerHTML]="chimShopChai.condition"></div>
  </div>

  <div class="banner-display">
    <div class="banner-sq" *ngFor="let bannerSq of bannerSqs">
      <img class="item" src="{{ getImg(bannerSq, bannerSqPath) }}" />
    </div>
  </div>
  <div class="brand-display">
    <div class="brand-logo" *ngFor="let brand of brands">
      <img class="item" src="{{ getImg(brand, brandPath) }}" />
    </div>
  </div>
</div>
